/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.font-manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#arrow {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    align-items: center;
}

#discussion-box {
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}